/* Colores personalizados */
:root {
  --primary-blue: #000205; /* Un azul más fuerte */
  --dark-blue: #f59e0b;
  --light-gray: #f8fafc;
  --text-color: #334155;
  --accent-color: #f59e0b; /* Naranja para detalles */
}
header a {
  background-color: #000205;
}

/* Estilo del header con la imagen de fondo más pequeña */
header {
  background: url("/src/img/istockphoto-1508453163-612x612.jpg") no-repeat
    center center fixed;
  background-size: cover;
  height: 70vh; /* Altura ajustada para hacer la imagen más pequeña */
  position: relative; /* Necesario para el overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
header h1 {
  margin-top: 10vh;
}

/* Utilidades de Tailwind con colores personalizados */
.bg-primary-blue {
  background-color: var(--primary-blue);
}
.text-primary-blue {
  color: var(--primary-blue);
}
.hover\:bg-dark-blue:hover {
  background-color: var(--dark-blue);
}
.border-primary-blue {
  border-color: var(--primary-blue);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.text-text-color {
  color: var(--text-color);
}
.text-accent-color {
  color: var(--accent-color);
}

/* Estilos adicionales y animaciones */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Oscurecer la imagen de fondo */
  position: absolute;
  inset: 0;
}

.card-hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.animated-underline {
  position: relative;
}
.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--accent-color);
  transition: width 0.3s ease;
}
.animated-underline:hover::after {
  width: 100%;
  left: 0;
  background: var(--accent-color);
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}

#contacto {
  background-color: #000205;
}
#contacto a {
  color: rgb(255, 255, 255);
  background-color: rgba(251, 255, 8, 0.527);
}
#propiedades div a {
  background-color: #000205;
}
#propiedades h2 {
  margin-top: 10vh;
}
